img {
  max-width: 50%;
  margin: auto;
}

.App {
  display: flex;
  justify-content: space-around;
  width: 100%;

  text-align: center;
  background-color:goldenrod;

}


@media only screen and (min-width: 650px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    background-color:lightblue;
    margin: 0 auto;
  
  }
  img {
    width: 33%;
    border-radius: 15px;
  }
  
}