img {
  max-width: 50%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 2%;
}
.box {
  padding-top: 50px;

}
.App {
  display: flex;
  justify-content: space-around;
  width: 100%;

  text-align: center;
  background-color:rgb(49, 179, 138);

}


@media only screen and (min-width: 650px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    background-color:lightblue;
    margin: 0 auto;
  
  }
  img {
    width: 33%;
    border-radius:60px;
    
   
  }

  .box {
    padding-top: 100px;

  }
  h1 {
   text-align: center;
  }
}