img {
  max-width: 100%;
}

.App {
  text-align: center;
  background-color:lightblue;
}
.movie-rating img {
  width: 60%;
}

@media only screen and (min-width: 650px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color:lightblue;
  }
  .movie-rating {
    width: 45%;
  }
}