

.title{
  display: inline;
  justify-content:flex-end;
  width: 100%;
  
}

@media only screen and (min-width: 650px) {
  .title{
  background:burlywood;
  width: fit-content;
  display: flex;
  justify-content: center;
    
  }
 
}